include ../partials/header

h1 Qui prend quoi ?
h2= party.name
h3 Créé par #{party.author}

label(for="url") Partager l'événement
input(id="url" value=`${url}`)

form(method="post" action=`/party/${party._id}?_method=DELETE`)
    span Supprimer l'évènement
    br
    button(type="submit") Supprimer cet évènement
form(method="post" action=`/party/${party._id}?_method=PATCH`)
    label(for="name") Modifier le nom de l'évènement
    br
    input(name="name" id="name" minlength="3" placeholder="Noël" value=`${party.name}`)
    br
    label(for="author") Nom de l'auteur
    br
    input(name="author" id="author" minlength="3" placeholder="John Doe" value=`${party.author}`)
    br
    label(for="date") Modifier la date de l'évènement
    br
    input(name="date" id="date" minlength="3" placeholder="2021-04-16" value=`${party.date}`)
    br
    button(type="submit") Modifier l'item

form(method="post" action=`/party/${party._id}/items`)
    div
        label(for="name") Ajouter un item à l'évènement
        br
        input(name="name" id="itemName" required minlength="3" placeholder="Topinambour")
        br
        label(for="user") Nom de l'auteur
        br
        input(name="user" id="user" required minlength="3" placeholder="John Doe")
    button(type="submit") Ajouter

include ./items
